In [2]:
import pandas as pd
import requests

In [3]:
def get_movie(i):

    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiOTUwMWFjNjhhMmQ5Y2Y3NDVlYmUwODRhNzFlMTllYyIsIm5iZiI6MTcyNjY0MjgzNy4xOTg3MTUsInN1YiI6IjY2ZWE3Nzc3ODJmZjg3M2Y3ZDFmMjM1OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Xmg-FeK6zhqjG9IevYTmyLq05r9UwHKgB1dTkNhDrmc"
    }

    response = requests.get(url, headers=headers)

    return response.json()['results']

In [25]:
movies = pd.DataFrame()

In [26]:
for i in range(1,201):
    temp_df = pd.DataFrame(get_movie(i))[['id','title','adult','overview','popularity','release_date','original_language','vote_average','vote_count',]]
    
    movies = pd.concat([movies,temp_df],axis=0).reset_index(drop=True)

In [27]:
movies

,id,title,adult,overview,popularity,release_date,original_language,vote_average,vote_count
0,278,The Shawshank Redemption,False,Imprisoned in the 1940s for the double murder ...,197.246,1994-09-23,en,8.706,26813
1,238,The Godfather,False,"Spanning the years 1945 to 1955, a chronicle o...",120.325,1972-03-14,en,8.690,20346
2,240,The Godfather Part II,False,In the continuing saga of the Corleone crime f...,94.615,1974-12-20,en,8.575,12273
3,424,Schindler's List,False,The true story of how businessman Oskar Schind...,113.337,1993-12-15,en,8.565,15679
4,389,12 Angry Men,False,The defense and the prosecution have rested an...,55.551,1957-04-10,en,8.545,8512
...,...,...,...,...,...,...,...,...,...
3995,11386,The Crying Game,False,Irish Republican Army member Fergus forms an u...,20.660,1992-09-02,en,6.800,726
3996,919,Blood: The Last Vampire,False,"In Japan, the vampire-hunter Saya, who is a po...",15.918,2000-11-18,ja,6.833,318
3997,864370,Incantation,False,Inspired by a true story of a family who belie...,39.325,2022-03-18,zh,6.832,627
3998,374416,Where Am I Going?,False,Checco is 39 and lived his entire life with hi...,6.020,2016-01-01,it,6.832,2086
3999,10973,Creature from the Black Lagoon,False,When scientists exploring the Amazon River stu...,13.913,1954-03-05,en,6.800,739

In [28]:
movies.to_csv('top_rated_movies.csv',index=False)