In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

#### Paste your dataset path in the function

In [26]:
dataset_path = "D:\CampusX DSMP\Week 15 - SQL Continued\olympics_cleaned_v4.csv"
df = pd.read_csv(dataset_path)
df.shape

(10998, 10)

#### creating mysql connection engine

In [27]:
server_url = 'localhost'
username = 'root'
password = 'Mohit$282'
database = 'my_database'
engine = create_engine(f'mysql+pymysql://{username}:{password}@{server_url}/{database}')

#### validating the connection by reading a table from mysql

In [28]:
# already present table in the database if exisits
table = 'movies'
pd.read_sql_query(f'SELECT * FROM {table}',con=engine).shape

(7668, 15)

upload the dataset to mysql

In [29]:
#table name you want to have inside mysql
table_name = 'shipping_ecommerce'
df.to_sql(name=table_name,con=engine,if_exists='replace',index=False)

10998